@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;

  margin: 0;

  box-sizing: border-box;

  font-family: "Lato", sans-serif;
}

/* body{
  overflow: hidden;
} */

/* root classes  */
/* :root {

    --color1 : rgb(60,74,85);
    --color2 : rgb(35,48,59);
    --color3 : rgb(152,160,163);
} */

/* UTILITY CLASSES  */
:root {
  --color1: rgb(7, 44, 138);
  --color2: #0066ff;
  --color3: rgb(255, 255, 255);
}

.flex {
  display: flex;
}

/* ----------FOR FORMS --------- */

/* Styling of Outer-box */

.signup,
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  /* min-width: 410px; */

}

/* Styling of Inner-box */

.inner-box {
  width: 400px;
  position: relative;
  padding: 20px 50px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
  background-color: #fff;
  backdrop-filter: blur(10px);
  z-index: 2;
}

.signup-header h1 {
  font-size: 2.5rem;
  color: #131010;
  text-align: center;
}

.signup-header p {
  font-size: 0.9rem;

  color: #363636;

  font-weight: 600;
}

/* Stylin of signup-body */

.signup-body {
  margin: 20px 0;
}

.signup-body .input {
  margin: 10px 0;
}

.signup-body .input label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
}

.signup-body > form > .input > input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 5px;
}

.LoginSignupButton {
  border: none;

  background-color: #1b67ff;

  color: white;

  cursor: pointer;

  width: 100%;

  padding: 10px;

  border-radius: 5px;

  font-size: 1rem;

  margin-top: 5px;
}

.input p {
  text-align: center;
  color: rgb(82, 82, 82);
}

.input p a {
  text-decoration: none;
  color: rgb(0, 116, 248);
}
/* Hover State of Submit */

.LoginSignupButton:hover {
  background-color: #0004e6;
}

/* ------- HOME PAGE CSS ------  */

/* for mobile navbar */
.mobile-nav {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--color1);
  border-bottom: 5px solid var(--color2);
  padding-inline: 25px;
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 1000;
}

.mobile-nav i {
    color: white;
    font-size: 1.5rem;
    /* width: 50px;
    height: 30px; */
}
.dashboard,.profile {
  /* height: 100vh; */
  position: relative;
}

/* styling for dashboardLeft is here  */
.leftBar {
  width: 15%;
  height: 100vh;
  background-color: var(--color1);
  /* background-color: rgb(7, 44, 138); */
  position: fixed;
  bottom: 0px;
  left: 0px;
  /* border-right: 3px solid rgb(0, 0, 3); */
  box-shadow: 2px 0px 5px 1px rgba(6, 27, 146, 0.548);
  
}

.logo h2 {
  padding: 30px 0px 35px 20px;
  font-size: 1.7rem;
  color: white;
}

.links li {
  padding: 15px 20px;
  /* margin-bottom: 3px; */
  border-top: 1px dashed rgba(255, 255, 255, 0.315);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.315);
  /* box-shadow: -1.5px 0px 2px 0px rgba(178, 206, 233, 0.342); */
  /* border-top: 1px solid rgba(157, 227, 255, 0.315); */
}

.links a {
  text-decoration: none;
  color: var(--color3);
  /* padding-left: 20px; */
}

.links i {
  padding-right: 20px;
}

.links li:hover {
  background-color: var(--color2);
}

.links li:hover a {
  color: white;
}

/* styling for dashboardRight is here  */
.dashboardRight {
  width: 85%;
  /* min-height: 100vh; */
  /* background-color: #d1ae11; */
  background-color: #f7f5ec;
  margin-left: 15%;
  /* padding: 40px; */
  /* overflow: hidden; */
  min-height: 100vh;
}


.dashboardRightContainer,
.profileRightContainer {
  padding: 40px;
}

/* HERO SECTION OF HOME PAGE  */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, #0033cc, #66ccff);
  color: #fff;
}

.container {
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

.homeButton {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #0044cc;
  color: #fff;
  cursor: pointer;
}

.homeButton:hover {
  background-color: #0022aa;
}




/* ------- DASHBOARD PAGE CSS ------  */
.dashboardRightHeaderNav {
  justify-content: space-between;
  align-items: flex-start;
}

.dashboardRightHeaderNav h2 {
  color: var(--color1);
  font-size: 2rem;
  padding-bottom: 10px;
}

.dashboardRightHeaderRightSide {
  gap: 10px;
}

.dashboardRightHeaderSearch {
  border-radius: 15px;
  border: 1px solid gray;
  align-items: center;
  background-color: white;
}

.dashboardRightHeaderSearch span {
  padding-inline: 10px;
}

.dashboardRightHeaderSearch input {
  border: none;
  outline: none;
  background: none;
  padding-block: 8px;
}

.dashboardRightHeaderAddBtn,
.profileTopButton {
  cursor: pointer;
  border-radius: 15px;
  background-color: var(--color2);
  /* border: 1px solid var(--color1); */
  color: white;
  font-size: 0.9rem;
  border: none;
  padding-inline: 15px;
}

.dashboardRightHeaderAddBtn:hover {
  background-color: var(--color1);
}

.profileTopButton:hover {
  background-color: var(--color1);
}

.profileTopButton {
  font-size: 1rem;
}

.dashboardRightHeaderInOf {
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid black;
  font-weight: bold;
  color: black;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
}

.dashboardRightHeaderUsers {
  margin-block: 20px 25px;
}

.userCount li {

  width: 25%;
  padding:30px 25px;
  justify-content: space-between;
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px gainsboro;
  flex-wrap: wrap;
  /* gap: ; */

}

.userCount li p {

  padding-top: 10px;
  color: rgb(59, 59, 59);

}
.userCount li .Uicon {

  height: 65px;
  width: 65px;
  border-radius: 50%;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;


}

.Uicon i {

  font-size: 1.5rem;

}

.dashboardRightHeaderUsers ul {
  list-style: none;
  gap: 30px;
  margin-block: 40px 30px;
  /* text-align: center; */
}

.dashboardRightHeaderUsers ul a {

  text-decoration: none;
  color: black;
}
/* .dashboardRightHeaderUsers ul a {
  text-decoration: none;
  color: rgb(12, 12, 12);
}

.dashboardRightHeaderUsers ul a:hover {
  color: red;
} */

/* dashboardRightData is here  */
.DashboardR {
    overflow: hidden;
  }

.dashboardRightData {
  background-color: white;
  /* padding: 10px; */
  border-radius: 3px;
  box-shadow: 0px 0px 1px 0px gray;
}

.dashboardRightData table {
  width: 100%;
}

.dashboardRightData table,
.dashboardRightData td {
  /* border: 1px solid black; */
  border-collapse: collapse;
  font-size: 0.9rem;
}

.dashboardRightData table td {
  padding-block: 15px;
  padding-left: 8px;
  color: rgb(82, 82, 82);
  /* border-bottom: 1px solid black; */
}

.dashboardRightData table tr {
  border-bottom: 1px solid rgba(2, 0, 105, 0.219);
}

/* .dashboardRightData table tr:hover {

    background-color: rgb(248, 248, 248);
} */

.Tableheadings {
  background-color: var(--color1);
  /* color: rgb(255, 255, 255)!important; */
  font-weight: bold;
  /* border-bottom: 1px solid black; */
}

.Tableheadings td {
  color: rgb(255, 255, 255) !important;
}

#trForUsers tr:nth-child(odd) {
  background-color: aliceblue;
}

#deleteUser {
  color: red;
  cursor: pointer;
  font-weight: bold;
}






/* ------- PROFILE PAGE CSS ------  */
.profileRightHeaderNav {
  justify-content: space-between;
  align-items: center;
}

.profileHeading {
  color: var(--color1);
  font-size: 2rem;
  /* padding-bottom: 10px; */
}


/* styling for profileSection is here  */
.profileSection > div {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.178);
  padding: 20px 30px;
  border-radius: 10px;
  margin-block: 15px;
  position: relative;
  background-color: #fff;
}

.profileSection h2 {
  color: var(--color1);
}

.editButton i {
  padding-right: 5px;
  font-size: 0.8rem;
}

.editButton,
.saveButton {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--color1);
  color: white;
}

.profileTop {
  align-items: center;
  gap: 20px;
}

.profilePhoto {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 2px rgb(15, 15, 15);
  /* background-color: gray; */
  /* background-image: url(https://i.pinimg.com/736x/89/90/48/899048ab0cc455154006fdb9676964b3.jpg); */
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
}

.profilePhoto img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: .3s;
  
  
}



.uploadImg {
  /* padding: 5px 10px ; */
  font-size: 0.7rem;
  background-color: var(--color1);
  color: white;
  position: absolute;
  opacity: 1;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePhoto img:hover {
  opacity: 0.5;
}

/* .profilePhoto img:hover .uploadImg {
  opacity: 1;
} */

#file-input {
  display: none;
}

.profileName h2 + p {
  padding-block: 10px;
}

.profileSection table {
  margin-top: 10px;
}

.profileSection table td {
  width: 250px;
  /* border: 1px solid black; */
  padding-block: 5px;
}

#pUserEmail {
  padding-block: 4px;
}
td input {
  border: 1px solid gray;
  border-radius: 5px;
  background: none;
  outline: none;
  padding: 7px;
  font-size: 1rem;
  width: 280px;
}

/* ------- SERVICE PAGE CSS ------  */
.about-hero {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, #0044cc, #66ccff);
  color: #fff;
}

.about-hero h1 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 20px;
}
.boxes {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.box {
  background-color: #0022aa;
  padding: 30px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.box h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.box p {
  font-size: 18px;
}

/* --------- CONTACT PAGE CSS ------  */
.contact-hero {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, #0044cc, #66ccff);
  color: #fff;
}

.contact-hero .container {
  text-align: center;
}

.contact-hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.contact-hero .contact-form {
  background-color: #0022aa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-hero form {
  display: flex;
  flex-direction: column;
}

.contact-hero input,
textarea {
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
}
.contact-hero .personalInformation input {
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
}

.contact-hero button {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #0044cc;
  color: #fff;
  cursor: pointer;
}

.contact-hero .subscription {
  margin-top: 40px;
}

.contact-hero .subscription h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* .company-logo {
    margin-top: 40px;
} */

.company-logo img {
  width: 100px;
  height: 100px;
}

.company-logo p {
  font-size: 14px;
  color: #ffffff;
}

/* -------- CLASSES FOR JAVASCRIPT --------- */
.liStyle {
  background-color: var(--color2);
  color: white !important;
}

.none {
  display: none;
}

.show {
  display: flex;
}

/* media query is here */
/* for tablet */
@media (min-width: 425px) and (max-width: 768px) {
  .signup,
  .login {
    flex-direction: column;
    gap: 100px;
    align-items: center;
  }
}

/* media query is here */
/* for Mobile */

@media (max-width: 425px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }

  /* FOR SIGNUP AND LOGIN PAGE  */
  .signup,
  .login {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    height: auto;
    padding-block: 60px;
  }

  .inner-box {
    width: 310px;
    padding: 20px 25px;
  }

  .signup-body > form > .input > input,
  select {
    padding: 8px;
    margin-top: 3px;
    font-size: 0.95rem;
  }

  .signup-body > form > .input > input::placeholder {
    font-size: 0.95rem;
  }

  /* MEDIA QUERY FOR HOME PAGE  */
  .dashboard,.profile {
    height: auto;
    margin-top: 60px;
  }

  .mobile-nav {
    display: flex;
  }
  .leftBar .logo {
    display: none;
  }

  .leftBar {
    position: absolute;
    left: -100%;
    /* height: 245px; */
    height: auto;
    top: 0px;
    transition: 0.3s;
    width: 100%;
    z-index: 100;
  }

  .active {
    left: 0;
  }
/* 
  .links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

  .links li {
    padding-left: 140px;
  }

  .dashboardRight {
    margin-left: 0px;
    width: 100%;
  }

  .hero {
    padding-inline: 30px;
  }
  .hero h1 {
    font-size: 2.4rem;
  }

  .hero p {
    font-size: 1.2rem;
    font-weight: light;
  }






  /* MEDIA QUERY FOR DASHBOARD PAGE  */
  .dashboardRightContainer,.profileRightContainer{

    padding: 40px 20px;

  }

  .dashboardRightHeaderSearch,.dashboardRightHeaderInOf {
    display: none;
  }

  .dashboardRightHeaderUsers ul{
    gap: 20px;
    /* font-size: 0.9rem; */
    flex-direction: column;

  }

  .userCount li {

    width: 100%;
    padding: 25px 50px;
  }

  .dashboardRightData{

    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    /* width: 1; */
  }

  .dashboardRightData table {

    width: 700px; 
    /* display: table;  */
  }
  .dashboardRightData table td{
    font-size: 0.95rem;
    padding-right: 30px;
  }

  /* .trForUsers tr td:nth-child(3){

    display: none;

  } */

  .dashboardRightHeaderAddBtn,.profileTopButton{
    font-size: 0.95rem;
    padding: 7px 10px;
  }

  .dashboardRightData table td{
    width: auto;
    padding-block: 12px;
  }

  .dashboardRightData table td{
    padding-inline:15px;
  }





  /* MEDIA QUERY FOR PROFILE PAGE  */
  .profileSection > div{
    padding: 20px 15px;
    margin-block: 30px;
    
  }
  .profileSection table td {

    width: 40%;
    font-size: 0.9rem;

  }

  td input{
    width: auto;
    padding: 5px;
  }

  .editButton, .saveButton {
    top: 15px;
    right: 15px;
    padding: 4px;
  }

  .editButton i {
    font-size: 0.7rem;
    padding-right: 3px;
  }

  .profileTop {
    flex-direction: column;
    text-align: center;
  }







    /* MEDIA QUERY FOR SERVICE PAGE  */
    .about-hero{

        padding:40px 30px;
        height: auto;
    }

    .box {
        padding: 20px;
    }

    .box p{

        font-size: 1rem;
        line-height: 1.4rem;
    }





     /* MEDIA QUERY FOR CONTACT PAGE  */
    .contact-hero {
        height: auto;
      }

    .contact-hero h1 {
        font-size: 3rem;
    }

    .subscription p {
        padding-block:0px 20px;
    }  
    
    .contact-hero button,.contact-hero input {
        padding:15px 18px;
        font-size: 0.9rem;
        margin-left: 3px;
    }
}
