*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}



/* root classes  */
:root {

    --color1 : rgb(60,74,85);
    --color2 : rgb(35,48,59);
    --color3 : rgb(152,160,163);
}
/* utility classes  */
.flex {

    display: flex;

}



/* styling for dashboardLeft is here  */
.dashboardLeft {

    width: 15%;
    height: 100vh;
    background-color: var(--color1);
    
}

.logo h2{

    padding: 30px 0px 20px 20px;
    color: white;

}

.links li {

    padding: 7px 20px;
    margin-bottom: 3px;

}

.links a{

    text-decoration: none;
    color: var(--color3);

}

/* styling for dashboardRight is here  */
.dashboardRight {

    width: 90%;
    height: 100vh;
    background-color: rgb(214, 214, 214);
    
}

.dashboardRightContainer {

    padding: 40px;

}

.dashboardRightHeaderNav {

    justify-content: space-between;

}

.dashboardRightHeaderRightSide {

    gap: 10px;

}

.dashboardRightHeaderSearch {

    border-radius: 15px;
    border: 1px solid gray;
    align-items: center;
    background-color: white;

}

.dashboardRightHeaderSearch span {

    padding-inline: 10px;

}

.dashboardRightHeaderSearch input {

    border: none;
    outline: none;
    background: none;
    padding-block: 8px;

}

.dashboardRightHeaderAddBtn {

    cursor: pointer;
    border-radius: 15px;
    background-color: red;
    color: white;
    font-size: 0.7rem;
    border: none;
    padding-inline: 15px;

}

.dashboardRightHeaderInOf {

    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    font-weight: bold;
    color: black;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    
}

.dashboardRightHeaderUsers {

    margin-block: 20px;

}

.dashboardRightHeaderUsers ul {

    list-style: none;
    gap: 60px;
    

}

.dashboardRightHeaderUsers ul a {

    text-decoration: none;
    color: gray;

}