*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}



/* root classes  */
:root {

    --color1 : rgb(60,74,85);
    --color2 : rgb(35,48,59);
    --color3 : rgb(152,160,163);
}
/* utility classes  */
.flex {

    display: flex;

}



.dashboard{

    height: 100vh;

}


/* styling for dashboardLeft is here  */
.dashboardLeft {

    width: 15%;
    height: 100vh;
    background-color: var(--color1);
    position: fixed;
    bottom: 0px;
    left: 0px;
    
}

.logo h2{

    padding: 30px 0px 20px 20px;
    color: white;

}

.links li {

    padding: 15px 20px;
    /* margin-bottom: 3px; */
    border: 1px solid rgba(148, 148, 148, 0.082);

}

.links a{

    text-decoration: none;
    color: var(--color3);

}


.links li:hover {

    background-color: var(--color2);
    
}

.links li:hover a {

    color: white;
    
}






/* styling for dashboardRight is here  */
.dashboardRight {

    width: 90%;
    height: 100vh;
    background-color: rgb(252, 252, 252);
    margin-left:15% ;
    
}

.dashboardRightContainer {

    padding: 40px;

}

.dashboardRightHeaderNav {

    justify-content: space-between;

}

.dashboardRightHeaderRightSide {

    gap: 10px;

}

.dashboardRightHeaderSearch {

    border-radius: 15px;
    border: 1px solid gray;
    align-items: center;
    background-color: white;

}

.dashboardRightHeaderSearch span {

    padding-inline: 10px;

}

.dashboardRightHeaderSearch input {

    border: none;
    outline: none;
    background: none;
    padding-block: 8px;

}

.dashboardRightHeaderAddBtn {

    cursor: pointer;
    border-radius: 15px;
    background-color: red;
    color: white;
    font-size: 0.7rem;
    border: none;
    padding-inline: 15px;

}

.dashboardRightHeaderInOf {

    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    font-weight: bold;
    color: black;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    
}

.dashboardRightHeaderUsers {

    margin-block: 20px 25px;

}

.dashboardRightHeaderUsers ul {

    list-style: none;
    gap: 60px;
    

}

.dashboardRightHeaderUsers ul a {

    text-decoration: none;
    color: rgb(12, 12, 12);

}

.dashboardRightHeaderUsers ul a:hover {

    color: red;

}




/* dashboardRightData is here  */
.dashboardRightData {

    background-color: white;
    /* padding: 10px; */
    border-radius: 3px;
    box-shadow: 0px 0px 1px 0px gray;

}

.dashboardRightData table {

    width: 100%;
    
}

.dashboardRightData table,td {

    /* border: 1px solid black; */
    border-collapse: collapse;
    font-size: 0.9rem;

}


.dashboardRightData table td {

    padding-block: 15px;
    padding-left: 8px;
    color: rgb(82, 82, 82);
    /* border-bottom: 1px solid black; */

}

.dashboardRightData table tr {

    border-bottom: 1px solid rgba(0, 0, 0, 0.219);

}

.dashboardRightData table tr:hover {

    background-color: rgb(248, 248, 248);
}

.Tableheadings {

    background-color: rgb(248, 248, 248);
    color: black;
    font-weight: bold;
    /* border-bottom: 1px solid black; */
}